# User-specific config / runtime files
vrising_macros.ini
OldVersions
*.zip

# AHK compiled output (if you ever compile)
*.exe

# Logs / temp
*.log
*.tmp

# Windows cruft
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.swp
V_Rising_Macro_Manager_OLD.ahk
app_settings.ini
profiles/Blood N Wine.ini
*.code-workspace
